<ul class="sidebar-nav">
	<li><a href="/">Home</a></li>
	<li><a href="/categories">Categories</a></li>
	<li><a href="/items">Items</a></li>
	<hr />
	<li><a href="/item/create">Create Item</a></li>
	<li><a href="/category/create">Create Category</a></li>
</ul>
